[submodule "Front-End"]
	path = Front-End
	url = https://github.com/SM2A/Internet_Engineering_FrontEnd
[submodule "Back-End"]
	path = Back-End
	url = https://github.com/SM2A/Internet_Engineering_BackEnd
